<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<title></title>
<body>
<div class="container">
    <div class="row">
        <div class="cls-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {{ post.title }}
                </div>
                <div class="panel-body">
                    {{ post.content|linebreaksbr }}
                </div>
            </div>
            <hr/>
            <a href="/photos/">글목록</a>
        </div>
    </div>
</div>
</body>
</html>